.gradient-bg{
  @apply w-64 h-64 position-absolute bottom-10 right-10 rounded-32;
  filter: blur(150px);
  z-index: -1;
  opacity: .9;
  background-image: linear-gradient( -45deg, #00a98e 30%, #009ff7 );
}

.gradient-bg-orange{
  @apply w-64 h-64 position-absolute bottom-10 right-10 rounded-32;
  filter: blur(150px);
  z-index: -1;
  opacity: .9;
  background-image: linear-gradient( -45deg, #ffa200 30%, #ffdb00 );
}

:root {
  --slidev-code-font-size: 16px;
  --slidev-code-line-height: 22px;
}

:not(pre) > code {
  @apply px-1;
}

:not(pre) > code:before, :not(pre) > code:after {
  content: none;
}